<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cscMapper">
	<insert id="insertBoardsOne" parameterType="csc">
		insert into boards(
			users_id,
			title,
			content,
			board_type
		) values (
			#{usersId},
			#{title},
			#{content},
			#{boardType}
		)
	</insert>
	
	<select id="selectBoardsAllByType" parameterType="String"
		resultType="csc">
		select * from boards where board_type = #{type}	
	</select>
	
	<select id="selectBoardsOne" parameterType="java.util.Map" resultType="csc">
		select * from boards where board_type = #{type} and board_num = #{boardNum}
	</select>
</mapper>







