<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="logImpl" value="LOG4J2"/>
		<!-- 
			테이블의 _컬럼을 카멜케이스 자바변수로 변환
			create_date -> createDate
		 -->
	</settings>
	
	<typeAliases>
		<typeAlias type="com.pro.jacat.user.vo.UserVO" alias="user" />
		
		<typeAlias type="com.pro.jacat.freeboard.vo.FreeBoardVO" alias="freeboard" />
		<typeAlias type="com.pro.jacat.freeboard.vo.FreeBoardFileVO" alias="file" />
		<typeAlias type="com.pro.jacat.freeboard.vo.FreeBoardCommentVO" alias="comment" />
		<typeAlias type="com.pro.jacat.freeboard.vo.FreeBoardReportVO" alias="report" />
		<typeAlias type="com.pro.jacat.search.vo.SearchResultVO" alias="search" />
		
		<typeAlias type="com.pro.jacat.noticeBoard.vo.NoticeBoardVO" alias="noticeboard"/>
		
		<!-- 자격증 게시판 VO 클래스 Alias -->
		<typeAlias type="com.pro.jacat.licenseBoards.vo.LicenseBoardsVO" alias="lboard"/>
		<typeAlias type="com.pro.jacat.licenseBoards.vo.LicenseBoardsCommentVO" alias="lcomment"/>
		<typeAlias type="com.pro.jacat.licenseBoards.vo.FileLicenseBoardVO" alias="lfile"/>
		<typeAlias type="com.pro.jacat.licenseBoards.vo.UsersFavoritesLicenseVO" alias="favolicense"/>
		<typeAlias type="com.pro.jacat.licenseBoards.vo.LicenseBoardReportVO" alias="lreport"/>
		
		
		<!-- API 공공데이터 VO 클래스 Alias -->
		<typeAlias type="com.pro.jacat.licenses.vo.LicenseListVO" alias="lList"/>
		<typeAlias type="com.pro.jacat.licenses.vo.LicenseTestVO" alias="lTest"/>
		<typeAlias type="com.pro.jacat.licenses.vo.LicenseTestDateVO" alias="lTestDate"/>
		<typeAlias type="com.pro.jacat.licenses.vo.LicenseTestCenterVO" alias="center"/>
		
		<!-- 사용자 일정 VO -->
		<typeAlias type="com.pro.jacat.calendar.vo.CalendarVO" alias="calendar"/>
		
		<!-- 고객센터 VO -->
		<typeAlias type="com.pro.jacat.csc.vo.CscVO" alias="csc"/>
		<typeAlias type="com.pro.jacat.csc.vo.CscCommentsVO" alias="cscComments"/>
		
		<!-- 일반 게시판 첨부파일 VO -->
		<typeAlias type="com.pro.jacat.file.vo.BoardsFileVO" alias="boardsFile"/>
	</typeAliases>
</configuration>