<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 
			테이블의 _컬럼을 카멜케이스 자바변수로 변환
			create_date -> createDate
		 -->
	</settings>
	
	<typeAliases>
		<typeAlias type="com.pro.jacat.user.vo.UserVO" alias="user" />
		<typeAlias type="com.pro.jacat.freeboard.vo.FreeBoardVO" alias="freeboard" />
		<typeAlias type="com.pro.jacat.licenseBoards.vo.LicenseBoardsVO" alias="lboard"/>
		
	</typeAliases>
</configuration>