<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="licenseBoardMapper">

	<resultMap type="lboard" id="licenseBoardCommentAndFileMap">
		<id property="boardNum" column="board_num"/>
		<result property="usersId" column="users_id"/>
		<result property="licenseListJmcd" column="license_list_jmcd"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="wDate" column="w_date"/>
		<result property="modifyDate" column="modify_date"/>
		<result property="delYN" column="delyn"/>
		<result property="boardType" column="board_type"/>
		
		<result property="nick" column="board_author"/>
		
		<result property="visitCount" column="visit_count"/>
		
		<result property="licenseName" column="lname"/>
		
		<!--association property="user" javaType="user">
			<id property="id" column="id"/>
			<result property="pw" column="pw"/>
			<result property="nick" column="nick"/>
		</association-->
		
		<!-- 댓글 테이블 매핑 -->
		<collection property="lComment" ofType="lcomment">
			<id property="commentNum" column="comment_num"/>
			<result property="licenseBoardsBoardNum" column="c_lbb_num"/>
			<result property="usersId" column="c_users_id"/>
			<result property="parentCommentNum" column="c_parent_comment_num"/>
			<result property="content" column="c_content"/>
			<result property="wDate" column="c_w_date"/>
			<result property="modifyDate" column="c_modify_date"/>
			<result property="nick" column="comment_author"/>
		</collection>
		<!-- 컬럼명 겹칠 때 테이블별로 다르게 출력하는 방법?(*쓰면 안되나?) -->
		
		<!-- 파일 테이블 매핑 -->
		<collection property="lFile" ofType="lfile">
			<id property="fileNum" column="file_num"/>
			<result property="licenseBoardsBoardNum" column="f_lbb_num"/>
			<result property="realFileName" column="real_file_name"/>
			<result property="fileName" column="file_name"/>
			<result property="path" column="path"/>
			<result property="wDate" column="f_w_date"/>
			<result property="type" column="type"/>
		</collection>
		
	</resultMap>
	
	<resultMap type="lList" id="licenseListSubInfoMap">
		<id property="jmcd" column="jmcd"/>
		<result property="qualgbcd" column="qualgbcd"/>
		<result property="qualgbnm" column="qualgbnm"/>
		<result property="seriescd" column="seriescd"/>
		<result property="seriesnm" column="seriesnm"/>
		<result property="jmfldnm" column="jmfldnm"/>
		<result property="obligfldcd" column="obligfldcd"/>
		<result property="obligfldnm" column="obligfldnm"/>
		<result property="mdobligfldcd" column="mdobligfldcd"/>
		<result property="mdobligfldnm" column="mdobligfldnm"/>
		<result property="licensingAutority" column="licensing_authority"/>
		
		<collection property="lTest" ofType="ltest">
			<id property="licenseNum" column="license_num"/>
			<result property="jmcd" column="license_list_jmcd"/>
			<result property="subjectName" column="subject_name"/>
			<result property="testType" column="test_type"/>
			<result property="testCount" column="test_count"/>
			<result property="testVersion" column="test_version"/>
			<result property="testTime" column="test_time"/>
		</collection>
		
		<collection property="lTestDate" ofType="ltestdate">
			<id property="ltdNum" column="ltd_num"/>
			<result property="implSeq" column="impl_seq"/>
			<result property="licenseListJmcd" column="license_list_jmcd"/>
			<result property="implYy" column="impl_yy"/>
			<result property="description" column="description"/>
			<result property="docRegStartDt" column="doc_reg_start_dt"/>
			<result property="docRegEndDt" column="doc_reg_end_dt"/>
			<result property="docExamStartDt" column="doc_exam_start_dt"/>
			<result property="docExamEndDt" column="doc_exam_end_dt"/>
			<result property="docPassDt" column="doc_pass_dt"/>
			<result property="pracRegStartDt" column="prac_reg_start_dt"/>
			<result property="pracRegEndDt" column="prac_reg_end_dt"/>
			<result property="pracExamStartDt" column="prac_exam_start_dt"/>
			<result property="pracExamEndDt" column="prac_exam_end_dt"/>
			<result property="pracPassDt" column="prac_pass_dt"/>
		</collection>
		
	</resultMap>
	
	<!-- 자격증 리스트 조회 -->
	<select id="selectLicenseLists" resultType="lList">
		select ll.* from license_list ll
		 order by ll.seriescd asc , ll.jmfldnm asc
		 limit 50;
	</select>
	
	<!-- 자격증별 상세조회 -->
	<select id="selectLicenseOne" parameterType="String" resultMap="licenseListSubInfoMap">
		select ll.*, lt.*, ltd.* from license_list ll 
		 left join license_test lt 
		 on ll.jmcd = lt.license_list_jmcd
		 left join license_test_date ltd
		 on ll.jmcd = ltd.license_list_jmcd
		 where ll.jmcd = #{jmcd}
		 order by ltd.impl_seq ASC, ltd.doc_reg_start_dt ASC;
	</select>
	
	<!-- 관심자격증 추가 -->
	<insert id="insertFavoriteLicenseOne" parameterType="favolicense">
		insert into users_favorites_license(
			users_id,license_list_jmcd
		)
		values(
			#{usersId},#{licenseListJmcd}
		);
		
	</insert>
	
	<!-- QnA 게시글 목록 조회 -->
	<select id="selectQnABoards" resultType="lboard">
		select lb.board_num, lb.users_id, lb.license_list_jmcd, 
		 lb.title, lb.content, date_format(lb.w_date,'%Y-%m-%d') as w_date, lb.modify_date,
		 lb.delyn, lb.board_type,u.nick,
		 (
		  select count(*) from jacat_db.visit_license_board vlb 
		  where lb.board_num = vlb.license_board_num
		 ) as visit_count
 		 FROM jacat_db.license_boards lb , jacat_db.users u
 		 where lb.board_type = 'Q' and u.id = lb.users_id;
	</select>
	
	<!-- QnA 게시글 상세조회 -->
	<select id="selectQnABoardOne" parameterType="int" resultMap="licenseBoardCommentAndFileMap">
		select lb.board_num,
		 lb.users_id,
		 (select u.nick from users u where u.id = lb.users_id) as board_author,
		 lb.license_list_jmcd,
         lb.title,
         lb.content,
         date_format(lb.w_date,'%Y-%m-%d') as w_date,
         date_format(lb.modify_date,'%Y-%m-%d') as modify_date,
         lb.delyn,
         lb.board_type,
         (select count(*) from visit_license_board vlb where vlb.license_board_num = #{boardNum}) as visit_count,
        
		 lc.comment_num,
         lc.license_boards_board_num as c_lbb_num,
         lc.users_id as c_users_id,
         (select u.nick from users u where u.id = lc.users_id) as comment_author,
         lc.parent_comment_num as c_parent_comment_num,
         lc.content as c_content,
         date_format(lc.w_date,'%Y-%m-%d') as c_w_date,
         date_format(lc.modify_date,'%Y-%m-%d') as c_modify_date,
        
         flb.file_num,
         flb.license_boards_board_num as f_lbb_num,
         flb.real_file_name,
         flb.file_name,
         flb.path,
         date_format(flb.w_date,'%Y-%m-%d') as f_w_date,
         flb.type,
        
         (select l.jmfldnm from license_list l where l.jmcd = lb.license_list_jmcd) as lname 
         
		from license_boards lb 
		 left join license_comment lc
		 on lb.board_num = lc.license_boards_board_num
         left join file_license_board flb
         on flb.license_boards_board_num = lb.board_num
		 where lb.board_num = #{boardNum} and lb.board_type='Q'
		 order by lc.w_date desc;
	</select>
	
	<!-- QnA 게시글 작성 -->
	<insert id="insertQnABoardOne" parameterType="lboard" useGeneratedKeys="true" keyProperty="boardNum">
		insert into jacat_db.license_boards(
		users_id,license_list_jmcd,title,content,board_type
		)
		values(
		#{usersId},#{licenseListJmcd},#{title},#{content},'Q'
		);
	</insert>
	
	<!-- QnA 게시글 수정 -->
	<update id="updateQnABoardOne" parameterType="lboard">
		update jacat_db.license_boards set
		 title = #{title}, content = #{content}, modify_date = now()
		 where board_num = #{boardNum};
	</update>
	
	<!-- QnA 게시글 삭제 -->
	<update id="deleteQnABoardOne" parameterType="int">
		update jacat_db.license_boards set
		 delyn = 'Y'
		 where board_num = #{boardNum};
	</update>
	
	<!-- 자료실 목록조회 -->
	<select id="selectDataroomBoards" resultType="java.util.List">
		select lb.board_num, lb.users_id, lb.license_list_jmcd, 
		 lb.title, lb.content, lb.w_date, lb.modify_date,
		 lb.delyn, lb.board_type,
		 (
		  select count(*) from jacat_db.visit_license_board vlb 
		  where lb.board_num = vlb.license_board_num
		 ) as visit_count
 		 FROM jacat_db.license_boards lb where lb.board_type = 'D';
	</select>
	
	<!-- 자료실 게시글 상세조회 -->
	<select id="selectDataroomBoardOne" parameterType="int" resultType="lboard">
		select * from jacat_db.license_boards lboards 
		 left join jacat_db.license_comment lcomment
		 on lboards.board_num = lcomment.license_boards_board_num
		 where lboards.board_num = #{boardNum} and lboards.board_type='D';
	</select>
	
	<!-- 자료실 게시글 작성 -->
	<insert id="insertDataroomBoardOne" parameterType="lboard">
		insert into jacat_db.license_boards(
		users_id, license_list_jmcd, title, content, board_type
		)
		values(
		#{usersId}, #{licenseListJmcd}, #{title}, #{content}, 'D'
		);
	</insert>
	
	<!-- 자료실 게시글 수정 -->
	<update id="updateDataroomBoardOne" parameterType="lboard">
		update jacat_db.license_boards set
		 title = #{title}, content = #{content}, modify_date = #{modify_date}
		 where board_num = #{boardNum};
	</update>
	
	<!-- 자료실 게시글 삭제 -->
	<update id="deleteDataroomBoardOne" parameterType="lboard">
		update jacat_db.license_boards set
		 delyn = 'Y'
		 where board_num = #{boardNum};
	</update>
	
	<!-- 종목코드로 자격증 이름 조회  -->
	<select id="selectLicenseNameOne" parameterType="String" resultType="String">
		select jmfldnm from license_list where jmcd = #{jmcd};
	</select>
	
	<!-- 댓글 하나 삽입 -->
	<insert id="insertLicenseCommentOne" parameterType="lcomment" useGeneratedKeys="true" keyProperty="commentNum">
		insert into license_comment
		(license_boards_board_num,users_id,parent_comment_num,content)
		values
		(#{licenseBoardsBoardNum},#{usersId},#{parentCommentNum},#{content});
	</insert>
	
	<select id="selectLicenseCommentOne" parameterType="int" resultType="lcomment">
		select 
		 lc.comment_num, lc.license_boards_board_num, lc.users_id,
		 lc.parent_comment_num, lc.content,
 		 date_format(lc.w_date,'%Y-%m-%d') as w_date,
 		 date_format(lc.modify_date,'%Y-%m-%d') as modify_date,
		 u.nick 
		 from license_comment lc, users u 
		 where u.id = lc.users_id and comment_num = #{commentNum};
	</select>
	
	<update id="updateLicenseCommentOne" parameterType="lcomment" useGeneratedKeys="true" keyProperty="commentNum">
		update license_comment set content = #{content}, modify_date = now() where comment_num = #{commentNum};
	</update>
	
	<update id="deleteLicenseCommentOne" parameterType="int">
		update license_comment set delyn = 'Y' where comment_num = #{commentNum};
	</update>
	
</mapper>