<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="licenseBoardsFilesMapper">
	
	<!-- <insert id="insertFIleOne" parameterType="lfile">
		insert into file_license_board
		(license_boards_board_num,real_file_name,file_name,path,type)
		values
		(#{licenseBoardsBoardNum},#{realFileName},#{fileName},#{path},#{type});
	</insert> -->
	
	<insert id="insertlBoardFiles" parameterType="lfile">
		insert into file_license_board
		(license_boards_board_num,real_file_name,file_name,path,type)
		values
			(
			#{licenseBoardsBoardNum},
			#{realFileName},
			#{fileName},
			#{path},
			#{type}
			);
	</insert>
	
	<delete id="deletelBoardFileOne" parameterType="int">
		delete from file_license_board where file_num = #{fileNum};
	</delete>
	
</mapper>