<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- mybatis mapper파일 -->

<mapper namespace="freeboardMapper">
	<resultMap id="freeboardFileMap" type="freeboard">
		<id property="boardNum" column="board_num" />
		<result property="usersId" column="users_id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="wDate" column="w_date" />
		<result property="delyn" column="delyn" />
		<result property="boardType" column="board_type" />


		<association property="user" javaType="user">
			<id property="id" column="id" />
			<result property="nick" column="nick"/>
			<result property="grade" column="grade" />
		</association>
		
		<!-- 1:n 테이블 관계 매핑 -->
		<collection property="filelist" ofType="file">
			<id property="fileNum" column="file_num" />
			<result property="boardNum" column="boards_board_num"/>
			<result property="realFileName" column="real_file_name"/>
			<result property="fileName" column="file_name"/>
			<result property="path" column="path" />
			<result property="wDate" column="w_date"/>
			<result property="type" column="type"/>
		</collection>
	</resultMap>

	<select id="selectAllBoard" resultType="freeboard">
		select *,(select count(*) from visit_board where boards_board_num = boards.board_num ) as visit from boards where boards.board_type = 'F' and delyn = 'N';
	</select>


	<!-- 게시글 단건 조회 -->
	<select id="selectBoardByBno" 
		parameterType="int" 
		resultMap="freeboardFileMap">
		select boards.*, file_board.*
		  from boards 
		 left outer join users
		   on boards.users_id = users.id
		 left outer join file_board
		  on boards.board_num = file_board.boards_board_num
		where boards.board_num = #{boardNum}
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		update boards set delyn = 'Y' where board_num = #{boardNum}
	</delete>
	
		<!-- 게시글 한건 update -->
	<update id="updateBoard" parameterType="freeboard">
		update boards
		<set>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
		</set>
		where board_num = #{boardNum}
	</update>
	
	<!--게시글 insert -->
	<insert id="insertBoard" 
			parameterType="freeboard" 
			useGeneratedKeys="true"
			keyProperty="boardNum">
		insert into boards(title, content, users_id, board_type )
		values(#{title}, #{content}, #{usersId} , 'F' )	
	</insert>
	

</mapper>