<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- mybatis mapper파일 -->

		<mapper namespace="freeboardCommentMapper">
		<resultMap id="freeboardComment" type="comment">
		<id property="commentNum" column="comment_num" />
		<result property="boardNum" column="board_num"/>
		<result property="usersID" column="users_id"/>
		<result property="content" column="content"/>
		<result property="wDate" column="w_date" />
		<result property="modifyDate" column="modify_date" />
		<result property="delyn" column="delyn" />
		


		<association property="users" javaType="user">
			<id property="id" column="id" />
			<result property="nick" column="nick"/>
			<result property="grade" column="grade" />
		</association>
	</resultMap>
	
	<!--댓글 등록 -->
	<insert id ="insertComment" parameterType="comment" useGeneratedKeys="true" keyProperty="commentNum">
		insert into comments(content, users_id, boards_board_num
		<choose>
		<when test="parentCommentNum != null">
			,parent_comment_num)
		</when>
		<otherwise>)</otherwise>
		</choose>
		
		values(#{content}, #{usersID}, #{boardNum}
		<choose>
		<when test="parentCommentNum != null">
			,#{parentCommentNum})
		</when>
		<otherwise>)</otherwise>
		</choose>
	</insert>
	
	<!-- 대댓글 목록 조회 -->
	<select id="selectCComment" parameterType="int" resultType="comment">
	select * from comments where boards_board_num = #{board_num} and parent_comment_num > 0;
	</select>
	
	<!-- 댓글 수정 -->
	<update id="update" parameterType="comment">
		update comments
		<set>
			<if test="content != null">
				content = #{content}
			</if>
		</set>
		where comment_num = #{commentNum}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="comment">
    DELETE FROM comments WHERE comment_num = #{commentNum}
</delete>
	
</mapper>